.form {
  padding: 0.5rem;
}

.control {
  margin-bottom: 0.5rem;
  overflow-x: auto;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
}

.actions {
  margin-top: 1rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 4px;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.table {
  border-collapse: collapse;
  width: 100%;
}
.table1 {
  border-collapse: collapse;
  width: 100%;
}

.ini {
  text-align: justify;
}

.table th, .table td {
  border: 0px solid #ccc;
  padding: 0.5rem;
}

.table1 th, .table1 td {
  border: none;
  padding: 0.5rem;
}


.table tr:nth-child(even) {
  background-color: #d3d3d3;
}

.table tr:hover {
  background-color: #eaeaea;
}

/* style the .table header */
.table th {
  background-color: #77002e;
  color: white;
  text-align: left;
}

.image {
  width: 100%;
  height: auto;
}

